<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta charset="utf-8" />
<title>{{ page.title }}</title>
<meta name="keywords" content="{{ page.tags }}" />
<meta name="description" content="{{ page.description }}" />
<link rel="stylesheet" href="/css/core.css?v=0.1" />
</head>
<body>
    <h1>RoryZL896's Free Tools</h1>
    <p>free tools for developers and peoples in need</p>
    {{ content }}
    <script src="/js/core.js?v=0.1"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9LDD2G4E0M"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-9LDD2G4E0M');
    </script>
</body>
</html>